[Unit]
Description=ONVIF-Debug Daemon
After=postgresql.service network-online.target mediad.service
Wants=network-online.target

[Service]
ExecStart=/var/tmp/onvifd_debug -settings "/root/onvifd.settings"
Restart=always

[Install]
WantedBy=multi-user.target
