<?xml version="1.0"?>
<root xmlns="urn:schemas-upnp-org:device-1-0">
    <specVersion>
        <major>1</major>
        <minor>0</minor>
    </specVersion>
    <device>
        <deviceType>{{.DeviceType}}</deviceType>
        <friendlyName>{{.FriendlyName}}</friendlyName>
        <manufacturer>{{.Manufacturer}}</manufacturer>
        <manufacturerURL>{{.ManufacturerURL}}</manufacturerURL>
        <modelDescription>{{.ModelDescription}}</modelDescription>
        <modelName>{{.ModelName}}</modelName>
        <modelNumber>{{.ModelNumber}}</modelNumber>
        <modelURL>{{.ModelURL}}</modelURL>
        <serialNumber>{{.SerialNumber}}</serialNumber>
        <UDN>{{.UDN}}</UDN>
        <UPC>{{.UPC}}</UPC>
        <serviceList>
            <service>
                <serviceType>urn:schemas-upnp-org:service:EmbeddedNetDeviceControl:1</serviceType>
                <serviceId>urn:upnp-org:serviceId:EmbeddedNetDeviceControl</serviceId>
                <controlURL>/</controlURL>
                <eventSubURL>/</eventSubURL>
                <SCPDURL>/</SCPDURL>
            </service>
        </serviceList>
        <presentationURL>{{.PresentationURL}}</presentationURL>
    </device>
</root>
