iface    = eth0
forced-update = {{.ForcedUpdate}}
period   = {{.Period}}
provider {{.Provider}} {
        username    = {{.Username}}
        password    = {{.Password}}
        hostname    = {{.Hostname}}
        ssl         = false
}
